<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Yungoose</title>
  <style>
    form label, form input {
      display: block;
    }
  </style>
</head>
<body>
  <h1>Edit Yungoose</h1>

  <div class="container">
    <form action="/yungooses/<%= yungoose._id %>" method="post">
      
      <label>
        Name: <input type="text" name="name" value="<%= yungoose.name %>">
      </label>
      <label>
        Age: <input type="number" name="age" value="<%= yungoose.age %>">
      </label>
      
      <input type="submit" value="Submit">
    </form>

  </div>

  <br>
  <a href="/">home</a>
</body>
</html>