<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <style>
    form label, form input {
      display: block;
    }
  </style>
</head>
<body>
  <h1>Index</h1>

 <!--  <div class="container">
    <form action="/users" method="post">
      
      <label>
        Your Name: <input type="text" name="name">
      </label>
      <label>
        Your Age: <input type="number" name="age">
      </label>
      
      <input type="submit" value="Submit">
    </form>

    <%= /*users*/ %> 
  -->
    <!-- <form action="/mongooses/new" method="get">
      <input type="submit" value="New">
    </form> -->
    <a href="/mongooses/new">new</a>
    <br>
    <hr>

    <% mongooses.forEach(function(element, index){ %>
        <a href="/mongooses/<%= element._id %>">Name: <%= element.name %></a>
        <br/>
    <% }) %>
  </div>
</body>
</html>